<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700');
$primary-font:'Nanum Myeongjo', serif;
$secondary-font: 'Cormorant SC', serif;
=======
@import url('');
$primary-font:'', serif;
>>>>>>> fe5006144fdd0e2de8c509179c51a832df5ae456
