@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color:$primary-black;
  overflow-x:hidden;
}

.nopadding {
  padding:0;
}

.grid-img {
  height:400px;
}

.nomargin {
  margin:0;
}

.main {
  height:1500px;
}

.front-img-col {
  display:flex;
}

.front-img {
  min-width:300px;
  display:block;
  margin:0 auto;
  height:700px;
  margin-top:75px;
  z-index:1;
  filter: blur(2px);
}

.front-img-text-left {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color:white;
  position: absolute;
  display:block;
  left:0;
  margin-left:15%;
  margin-top:30vh;
  font-size:1.5em;
  font-weight:400;
  letter-spacing:4px;
  font-family:$primary-font;
  z-index:10;
}

.front-img-text-right {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color:white;
  position: absolute;
  display:block;
  margin-top: 10vh;
  margin-right: 15%;
  font-size:1.5em;
  font-weight:400;
  letter-spacing:4px;
  font-family:$primary-font;
  z-index:10;
}

.front-img-text-right-down {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color:white;
  position: absolute;
  display:block;
  margin-top: 40vh;
  margin-right: 15%;
  font-size:1.5em;
  font-weight:400;
  letter-spacing:4px;
  font-family:$primary-font;
  z-index:10;
}

.header-title {
  padding:10px 20px;
  color:white;
  font-size:1.5em;
  letter-spacing:3px;
  font-weight:600;
  font-family:$primary-font;
}

.front-text-container {
  max-width: 900px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.empty-container {
  width:100%;
  height:900px;
}

.show-grid {
  height:100%;
}

.circle-test {
  position: absolute;
  width:420px;
  height:420px;
  border:1px solid lightgrey;
  border-radius:50%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  z-index:100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 12px 12px rgba(0,0,0,0.23);
  background-image: url(img/test1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:500px;
  background-position-y: -162px;
}

.front-img-circle {
  height:700px;
  position: absolute;
  top:0;
  left:0;
}

.page-grid {
  display:flex;
  max-width:1000px;
  margin:0 auto;
  margin-top:100px;
}

.stripe {
  height:100%;
  width:4px;
  background-color:$primary-white;
}

.fake-img {
  height:700px;
  background-color:$primary-white;
  margin-top:75px;
  width:40px;
  position: absolute;
  right:0;
}

.col-12 {
  display:flex;
}

.row {
  justify-content: space-between;
}

.item {
  background-color:#fffffa;
  height:400px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width:960px) {
  .front-text-container {
    max-width: 550px;
    
    height: 100%;
   
  }
  .front-img-text-left {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color:$primary-black;
    position: absolute;
    display:block;
    left:0;
    margin-left:0%;
    margin-top:30vh;
    font-size:1.5em;
    font-weight:400;
    letter-spacing:4px;
    font-family:$primary-font;
    z-index:10;
  }
  
  .front-img-text-right {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color:$primary-black;
    position: absolute;
    display:block;
    margin-top: 10vh;
    margin-right: 0%;
    font-size:1.5em;
    font-weight:400;
    letter-spacing:4px;
    font-family:$primary-font;
    z-index:10;
  }
  .front-img-text-right-down {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color:$primary-black;
    position: absolute;
    display:block;
    margin-top: 40vh;
    margin-right: 0%;
    font-size:1.5em;
    font-weight:400;
    letter-spacing:4px;
    font-family:$primary-font;
    z-index:10;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  
  &,
  .front-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
  }
  
  .front-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* will-change: left; */
  }
  
  &._move {
    .front-image {
      transition: left 0.9s cubic-bezier(0, 0, 0.2, 1);
      left: -100%;
    }
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

    .slideInRight {
      -webkit-animation-name: slideInRight;
      animation-name: slideInRight;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes slideInRight {
      0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
      }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      }
      @keyframes slideInRight {
      0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
      }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      } 
      .rotateInDownRight {
        -webkit-animation-name: rotateInDownRight;
        animation-name: rotateInDownRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes rotateInDownRight {
        0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
        }
        100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        }
        }
        @keyframes rotateInDownRight {
        0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
        }
        100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        }
        } 
